@font-face {
    font-family: MullerBlack;
    src: url("../Fonts/MullerBlack.ttf") format("truetype");
}

@font-face {
    font-family: MullerBold;
    src: url("../Fonts/MullerBold.ttf") format("truetype");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../Fonts/MullerExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: MullerRegular;
    src: url("../Fonts/MullerRegular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: MullerRegular, sans-serif;
}

a {
    text-decoration: none;
}

#header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    font-size: 24px;
    font-family: MullerBlack, sans-serif;
    color: rgb(255, 196, 104);
    text-transform: uppercase;
    max-width: 84px;
    margin-left: 8px;
}

#menu {
    margin: 0 261px 0 248px;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

#menu a.menu-item {
    font-size: 16px;
    color: rgb(164, 107, 0);
}

#main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-info {
    max-width: 622px;
}

#main-info h1 {
    font-size: 45px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(185, 145, 80);
    font-weight: bold;
    line-height: 1.222;
}

#main-info h1 span {
    color: #ffaf18;
}

#main-advantages {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage {
    max-width: 292px;
    display: flex;
    align-items: center;
    margin-top: 47px;
}

.advantage .advantage-text {
    margin-left: 16px;

}

.advantage .advantage-title {
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(185, 145, 80);
    line-height: 1;
    text-transform: uppercase;
}

.advantage .advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1;
    margin-top: 10px;
}

.btn {
    background-color: rgb(255, 175, 24);
    text-align: center;
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    font-weight: bold;
    padding: 22px;
    box-sizing: border-box;
}

#main-actions {
    margin-top: 60px;
}

#main-actions .btn {
    width: 224px;
    display: inline-block;
}

#products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 160px;
}

#products-title {
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}

#products-items {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    width: 282px;
    padding: 27px 20px 15px 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
}

.product-title {
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    margin-top: 15px;
}

.product-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 50px;
    z-index: 51;
    margin-top: 13px;
}

.product-button.btn {
    border: 0;
    outline: 0;
    padding: 17px;
    margin-top: 15px;
    width: 100%;
}

.product-image {
    height: 155px;
}

#order {
    overflow: hidden;
}

#order-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 216px 0 115px 0;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: relative;
}

#order-text {
    max-width: 384px;
    margin-right: 50px;
}

#order-text-title {
    font-size: 35px;
    font-family: MullerExtraBold, sans-serif;
    color: #b99150;
    line-height: 1.286;
}

#order-text-title span {
    color: rgb(255, 175, 24);
}

#order-text-message {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
    margin-top: 65px;
}

#order-form {
    max-width: 330px;
}

#order-form input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 328px;
    padding: 23px;
    font-size: 18px;
    box-sizing: border-box;
    outline: 0;
    margin-bottom: 24px;
}

::placeholder {
    color: rgb(203, 168, 110);
}

#order-form .btn {
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

#order-image {
    width: 282px;
    position: absolute;
    top: 170px;
    right: 23px;
}


#footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

#rights {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

#burger {
    display: none;
}

#menu.open {
    display: flex;
}

#menu svg {
    display: none;
}

.test-popup-link {
    width: 100% !important;
    height: auto !important;
}

.mfp-image-holder .mfp-content {
    width: 100%;
}

img.mfp-img {
    width: 100%;
    max-height: none;
    height: 100%;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.error-form {
    font-family: MullerRegular, sans-serif;
    font-size: 18px;
    color: red;
    display: none;
}

#send-s {
    display: none;
    max-width: 330px;
    font-size: 21px;
    justify-content: start;
    align-items: center;
    color: #121f00;
    font-family: MullerExtraBold, sans-serif;
    text-align: center;
}
#send-f {
    display: none;
    max-width: 330px;
    font-size: 21px;
    justify-content: start;
    align-items: center;
    color: #121f00;
    font-family: MullerExtraBold, sans-serif;
    text-align: center;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #b69d15;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#loader {
    display: none;
 position: fixed;
    background: rgba(0, 0, 0, 0.62);
    top:0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}